:root {
  --white: #FFFFFF;
  --black: #070724;
  --dark-grey: #38384F;
  --light-grey: #838391;
  --light-blue: #419EBB;
  --yellow: #EDA249;
  --purple: #6F2ED6;
  --light-orange: #D14C32;
  --red: #D83A34;
  --orange: #CD5120;
  --mint: #1EC2A4;
  --blue: #2D68F0;
}

html, body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Antonio', sans-serif;
  font-size: 80px;
}

h2 {
  font-family: 'Antonio', sans-serif;
  font-size: 40px;
  letter-spacing: -1.5px;
}

h3 {
  font-family: 'League Spartan', sans-serif;
  font-size: 12px;
  letter-spacing: 2.6px;
  font-weight: 700;
}

h4 {
  font-family: 'League Spartan', sans-serif;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 700;
}

p {
  font-family: 'League Spartan', sans-serif;
  font-size: 14px;
}